target/
.nrepl-port
resources/public/js/app.js
resources/public/js/app.js.map
resources/public/js/chord/
resources/public/js/cljs/
resources/public/js/clojure/
resources/public/js/funstructor/
resources/public/js/goog/
resources/public/js/reagent/
.lein-*
.repl/
out/

# Emacs Gitignore

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
