html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu Mono', sans-serif;
    
    background: url(../img/back.png) repeat center;
}
div{
    box-sizing: border-box;
}
body > header{
    box-sizing: border-box;
    background-color: #3179DE;
    position: absolute;
    width: 100%;
    height: 46px;
    text-align: center;
    border-bottom: 3px solid black;
}
body > header > h1{
    line-height: 42px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}

body > footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0px;
}

.cb{
    clear: both;
}

.h20{
    height: 20px;
}

#start{
    position: absolute;
    transform: rotateX( 0deg ) rotateY( 0deg ) rotateZ( 0deg );
    width: 100%;
    box-sizing: border-box;
    top: 50%;
    left: 0;
    text-align: center;
    margin: -110px 0 0 0;
    z-index: 3;
}

#loading{
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
}

#loading .loader {
  display: inline-block;
  width: 100px;
  height: 24px;
    position: absolute;
  border: 4px solid #FBFBFB;
  top: 50%;
  -webkit-animation: loader 4s infinite ease;
  -moz-animation: loader 4s infinite ease;
  -o-animation: loader 4s infinite ease;
  -ms-animation: loader 4s infinite ease;
  animation: loader 4s infinite ease;
  margin-left: -50px;

}

#loading .loader-inner {
  vertical-align: top;
  display: inline-block;
  background-color: #FBFBFB;
  -webkit-animation: loader-inner 4s infinite ease-in;
  -moz-animation: loader-inner 4s infinite ease-in;
  -o-animation: loader-inner 4s infinite ease-in;
  -ms-animation: loader-inner 4s infinite ease-in;
  animation: loader-inner 4s infinite ease-in;
  position: absolute;
  height: 100%;
    top: 0;
    right: 0;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    width: 0%;
  }
  
  25% {
    width: 0%;
  }
  
  50% {
    width: 100%;
  }
  
  75% {
    width: 100%;
  }
  
  100% {
    width: 0%;
  }
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    width: 0%;
  }
  
  25% {
    width: 0%;
  }
  
  50% {
    width: 100%;
  }
  
  75% {
    width: 100%;
  }
  
  100% {
    width: 0%;
  }
}

#flyingCards{
    transform-style: preserve-3d;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
}

#flyingCards > div > div{
    position: absolute;
    width: 160px;
    height: 240px;
    z-index: 1;
}
#flyingCards img{
    width: 100%;
    height: auto;
    position: absolute;
}

.button.start input{
    padding: 10px 30px;
    font-size: 36px;
    line-height: 40px;
}
.input.start *{
    font-size: 24px;
}
.input.start label{
    font-size: 32px;
    padding: 10px 0px;
}
.input.start input{
    padding: 10px;
    text-align: center;
}


.button{
    display: inline-block;
    padding: 3px;
    background-color: rgba(0,0,0, 0.2);
}
.button button,
.button input{
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    line-height: 16px;
    font-size: 16px;
    color: white;
    border: 3px solid black;
    background-color: rgba(49,121,222,0.8);    
}
.button button:active,
.button input:active{
    background-color: rgba(79,181,242,1);    
}
.button button:hover,
.button input:hover{
    background-color: rgba(49,121,222,1);    
}

.input{
    padding: 3px;
    background-color: rgba(0,0,0, 0.2);
    display: inline-block;
}
.input label{
    color: white;
    display: block;
    
}
.input input,
.input textarea{
    font-size: 16px;
    line-height: 16px;
    border: 3px solid black;
}

#game{
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    top: 46px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow: hidden;
}
.field, .hand, .log, .task{
    position: absolute;
}
.field{
    text-align: left;
    left: 30px;
    right: 330px;
    background-color: rgba(0,0,0, 0.7);
    height: calc(50% - 230px);
    color: #FFFF00;
    font-size: 26px;
    line-height: 28px;
    padding: 10px;
}
.field.your{
    bottom: 210px;
}
.field.opponent{
    top: 210px;
}
.hand.your{
    left: 0px;
    right: 300px;
    bottom: 0px;
    height: 180px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.hand.opponent{
    left: 0;
    right: 300px;
    top: 0;
    height: 180px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.task p{
    text-align: left;
}
.task{
    right: 10px;
    bottom: 10px;
    height: 190px;
    width: 280px;
    background-color: white;
    border: 3px solid black;
    padding: 0 15px;
}
.log{
    right: 10px;
    bottom: 210px;
    top: 10px;
    width: 280px;
    background-color: white;
    border: 3px solid black;
}

.hand.opponent .card,
.hand.your .card{
    display: inline-block;
    width: 120px;
    height: 180px;
    margin-right: 10px;
    cursor: pointer;
}
.hand.opponent .card:last-child,
.hand.your .card:last-child{
    margin-right: 0px;
}
.hand.opponent .card > div,
.hand.your .card > div{
    width: 120px;
    height: 180px;
}
.hand.opponent .card > div > img,
.hand.your .card > div > img{
    width: 120px;
    height: 180px;
}

.field.active{
    background-color: rgba(50,50,0,0.3);
    -webkit-box-shadow: 0 0 5px 1px rgba(50,50,0,0.5);
    box-shadow: 0 0 5px 1px rgba(50,50,0,0.5);
}
.terminal.active{
    background-color: rgba(255,255,0,0.3);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,0,0.5);
    box-shadow: 0 0 5px 1px rgba(255,255,0,0.5);
}
.terminal.space.active{
    background-color: transparent;
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,0,0.5);
    box-shadow: 0 0 5px 1px rgba(255,255,0,0.5);
}

.terminal{
    height: 28px;
    display: inline-block;
}
.terminal.space > img{
    width: 100%;
    height: 100%;
}
.terminal.space{
    width: 13px;
    background: url('/img/e.png') repeat;
}



.opponentTurn{
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2001;
    background-color: rgba(0,0,0,0.5);
}
.opponentTurn > div{
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 2001;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    color: white;
    font-weight: bold;
    font-size: 26px;
}
